<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <div class="card bg-gray">
      <div class="card-body">
        <%#= form_tag "/download", method: "POST" do |f| %>
          <div class="row">
            <div class="col button-div" style="font-size: 0.9em;">
              Click on the download button to download the service requests for today
            </div>
            <div class="col loader-div" style="font-size: 0.9em; display: none;">
              <strong>Note:</strong> Please do not refresh the page until the file is downloaded
            </div>
            <div class="col text-right button-div">
              <button class="btn btn-primary btn-md">Download CSV</button>
              <%#= link_to "Download CSV", "/download_csv_file", class: "btn btn-primary btn-md" %>
            </div>
            <div class="col text-right loader-div" style="display: none;">
              <button class="btn btn-primary btn-md" disabled>
                <i class="fas fa-circle-notch fa-spin"></i> downloading...
              </button>
            </div>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(".button-div button").on("click", function () {
    // $(".button-div").html("<i class='fa-solid fa-circle-notch fa-spin'></i> downloading...");  
    $(".button-div").css("display", "none");
    $(".loader-div").css("display", "block");
    $(".alert-div").css("display", "none");
    $.ajax({
      url: '/service_requests/download',
      method: 'GET',
      responseType: 'arraybuffer',
      success: function(response) {
        var blob = new Blob([response], {type: 'application/octet-stream'});
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = 'service_requests.csv';
        link.click();
      },
      error: function(xhr, status, error) {
        console.log('Link request failed.');
        console.log(error);
        window.location.href = "/service_requests/file_not_found"
      },
      complete: function() {
        $(".loader-div").css("display", "none");
        $(".button-div").css("display", "block");
      }
    });
  });
</script>