<%= render "heading" %>
<div class="row mt-3 mb-3 ml-3 mr-3 alert-div">
  <div class="col">
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-exclamation-triangle"></i> No service requests found!
    </div>
  </div>
</div>
<%= render "download_form" %>