<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>API Settings</b>
  </div>
</div>

<div class="row pl-3 pr-3 mt-3 ml-3 mr-3">
  <div class="col border-gray pt-3 pb-3 rounded bg-gray form-group">
    <div class="row pb-3">
      <div class="col">
        <%= form_tag "/generate/api_key" do %>
          <i class="fas fa-key"></i> <label class="font-weight-light">API Key</label> &nbsp;
          <button type="submit" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> <%= @general_settings.try(:api_key).present? ? "Regenerate Key" : "Generate Key" %></button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col text-muted">
          <span class="gray-font"><%= @general_settings.try(:api_key) || "*******************************************************" %></span>
      </div>
    </div>
  </div>
</div>