<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if controller_name=='general_settings'%>">
        <a class="nav-link" href="/"><i class="fas fa-tools"></i> General Settings</a>
      </li>
       <li class="nav-item <%= 'active' if controller_name=='api'%>">
        <a class="nav-link" href="/access_settings"><i class="fas fa-key"></i> API Settings</a>
      </li>
      <li class="nav-item <%= 'active' if controller_name=='user_settings'%>">
        <a class="nav-link" href="/user_settings"><i class="fas fa-user-cog"></i> Users</a>
      </li>
      <li class="nav-item <%= 'active' if controller_name=='fs_assets'%>">
        <a class="nav-link" href="/fs_assets"><i class="fas fa-layer-group"></i> Assets</a>
      </li>
      <li class="nav-item <%= 'active' if controller_name=='service_requests'%>">
        <a class="nav-link" href="/service_requests"><i class="fas fa-ticket-alt"></i> Service Requests</a>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user_settings/<%= current_user.id %>/edit"><i class="fas fa-user-edit"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-method="delete" href="/users/sign_out" rel="nofollow"><i class="fas fa-power-off"></i> Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>