<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Users List</b>
  </div>
  <div class="col text-right">
    <a href="/user_settings/new" class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i> Add User</a>
  </div>
</div>
  
<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" width="50%">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><a href="/user_settings/<%= user.id %>/edit"><i class="fas fa-user-edit"></i> Edit</a> </td>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col text-right pl-5 pr-5">
    <%= paginate @users %>
  </div>
</div>