.bg-gray{
    background-color: #f8f9fa;
  }
  
  .border-gray{
    border: 1px solid #d5dbe1;
  }
  
  .gray-font{
    color: #999;
  }
  
  .green-font{
    color: #5dc242;
  }
  
  .red-font{
    color: #f74f4f;
  }
  
  .light-gray-font{
    color: #bfbfbf;
  }
  
  .info-icon{
    font-size: 5em;
  }
  
  .no-data{
    font-size: 2em;
  }
  
  .no-lr-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .inline-block{
    display: contents !important;
  }