<div class="row mt-3 mb-3 ml-3 mr-3">
  <div class="col">
    <b>Assets</b>
  </div>
</div>

<% if @general_settings.present? %>
  <div class="row pl-3 pr-3 ml-3 mr-3 mt-3">
    <div class="col border-gray pt-3 rounded bg-gray form-group">
      <div class="row pb-1">
        <div class="col">
          <% if (@general_settings.assets_upload_status=="uploading") %>
            <div class="form-group text-center gray-font" style="font-size: 5em;">
              <i class="fas fa-info-circle"></i>
            </div>
            <div class="form-group text-center" style="font-size: 1.3em;">
              Assets are updating. It may take a while.
            </div>
          <% elsif (@general_settings.assets_download_status=="downloading") %>
            <div class="form-group text-center gray-font" style="font-size: 5em;">
              <i class="fas fa-info-circle"></i>
            </div>
            <div class="form-group text-center" style="font-size: 1.3em;">
              Assets are downloading. It may take a while. Once the download has completed the assets will be synced to FTP server.
            </div>
          <% elsif (@general_settings.assets_sync_status=="syncing") %>
            <div class="form-group text-center gray-font" style="font-size: 5em;">
              <i class="fas fa-info-circle"></i>
            </div>
            <div class="form-group text-center" style="font-size: 1.3em;">
              Assets are syncing. It may take a while.
            </div>
          <% else %>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <%= form_tag "/fs_assets/upload", multipart: true, method: "POST" do %>
                    <%= file_field_tag :file, :accept => 'text/csv', required: true %>
                    <button type="submit" class="btn btn-primary btn-sm">Upload Assets</button>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group text-right">
                  <a href="/general_settings/download_assets" class="btn btn-primary">Download All Assets</a>
                  <a href="/fs_assets/sync" class="btn btn-primary">Sync Assets</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if (@general_settings.assets_download_status=="downloading" || @general_settings.assets_upload_status=="uploading" || @general_settings.assets_sync_status=="syncing") %>
<script type="text/javascript">
  setTimeout(function(){
    location = ''
  },15000)
</script>
<% end %>

<script>
  $(document).ready(function(){
    $(".datepicker").datepicker({
      format: 'mm/dd/yyyy'
    });
  });
</script>